/*.box.reddy
=========================== */

   .box.reddy {
        border: solid white 3px;
    }

   .box.reddy.pale {
        background-color: hsl(60, 53%, 90%);
    }

   .box.reddy.light {
        background-color: hsl(60, 60%, 80%);
    }

   .box.reddy.medium {
        background-color: hsl(60, 66%, 70%);

    }

   .box.reddy.dark {
        background-color: hsl(60, 73%, 60%);
    }
