/* .grayscaley
=========================== */

    .grayscaley.generic {
        background-color: #CCCCFF;
    }

    .grayscaley.pale {
        background-color: #CCCCFF;

    }

   .grayscaley.light {
        background-color: #CCCCFF;

    }

   .grayscaley.medium {
        background-color: #CCCCFF;


    }

   .grayscaley.dark {
        background-color: #CCCCFF;

    }