
    body {   background-color: hsl(216, 44%, 93%);   }
    .container {   background-color: hsl(200, 60%, 21%);   }

    .box {

        /*'generic' box, no color theme */
        background-color: hsl(216, 70%, 97%);
        /*background: -webkit-gradient(linear, left top, left bottom, from(hsl(216, 65%, 97%)), to(hsl(216, 98%, 95%))); background: -moz-linear-gradient(top, hsl(216, 65%, 97%),  hsl(216, 98%, 95%)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(216, 65%, 97%)', endColorstr='hsl(216, 98%, 95%)');  }*/
        border: solid hsl(200, 82%, 21%) 2px;
    }




/*  trimmings =========================== */
    .deep, .dark, .medium, .light, .pale {
        color: white;
        border-color: hsl(210, 50%, 60%);
    }
    .vapor {
        color: black;
        border-color: hsl(210, 50%, 40%);
    }

    .deep *, .dark *, .medium *, .light *, .pale * {
        color: white;
    }

    .vapor * {
        color: black;
    }
/*  Links =========================== */

    .deep a, .dark a, .medium a, .light a, .pale a {
        color: white;
    }

    .vapor a {
        color: black;
    }

/*  Backgrounds =========================== */

  /*.c_bronze1  bronze =========================== */
    .c_bronze1.vapor  { background: hsl(030, 50%, 96%); }
    .c_bronze1.pale  { background: hsl(030, 50%, 50%); }
    .c_bronze1.light  { background: hsl(030, 50%, 45%); }
    .c_bronze1.medium  { background: hsl(030, 50%, 40%); }
    .c_bronze1.dark  { background: hsl(030, 50%, 35%); }
    .c_bronze1.deep  { background: hsl(030, 50%, 30%); }

  /*.c_orange1  orange  =========================== */
    .c_orange1.vapor  { background: hsl(040, 50%, 96%); }
    .c_orange1.pale  { background: hsl(040, 50%, 50%); }
    .c_orange1.light  { background: hsl(040, 50%, 45%); }
    .c_orange1.medium  { background: hsl(040, 50%, 40%); }
    .c_orange1.dark  { background: hsl(040, 50%, 35%); }
    .c_orange1.deep  { background: hsl(040, 50%, 30%); }

  /*.c_green1  155 =========================== */
    .c_green1.vapor  { background: hsl(155, 50%, 96%); }
    .c_green1.pale  { background: hsl(155, 50%, 50%); }
    .c_green1.light  { background: hsl(155, 50%, 45%); }
    .c_green1.medium  { background: hsl(155, 50%, 40%); }
    .c_green1.dark  { background: hsl(155, 50%, 35%); }
    .c_green1.deep  { background: hsl(155, 50%, 30%); }

  /*.c_blue1  210 =========================== */
    .c_blue1.vapor  { background: hsl(210, 50%, 96%); }
    .c_blue1.pale  { background: hsl(210, 50%, 50%); }
    .c_blue1.light  { background: hsl(210, 50%, 45%); }
    .c_blue1.medium  { background: hsl(210, 50%, 40%); }
    .c_blue1.dark  { background: hsl(210, 50%, 35%); }
    .c_blue1.deep  { background: hsl(210, 50%, 30%); }

  /*.c_purple1  purple =========================== */
    .c_purple1.vapor  { background: hsl(280, 50%, 96%); }
    .c_purple1.pale  { background: hsl(280, 50%, 50%); }
    .c_purple1.light  { background: hsl(280, 50%, 45%); }
    .c_purple1.medium  { background: hsl(280, 50%, 40%); }
    .c_purple1.dark  { background: hsl(280, 50%, 35%); }
    .c_purple1.deep  { background: hsl(280, 50%, 30%); }
