/*.orangey
=========================== */

   .orangey.pale {
        /*background-color: hsl(43, 96%, 80%);*/

        background: -webkit-gradient(linear, left top, left bottom, from(hsl(43, 96%, 96%)), to(hsl(43, 96%, 76%)));
        background: -moz-linear-gradient(top, hsl(43, 96%, 96%),  hsl(43, 96%, 76%));
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(43, 96%, 96%)', endColorstr='hsl(43, 96%, 76%)');
    }

   .orangey.light {
        /*background-color: hsl(43, 96%, 66%);*/

        background: -webkit-gradient(linear, left top, left bottom, from(hsl(43, 96%, 82%)), to(hsl(43, 96%, 62%)));
        background: -moz-linear-gradient(top, hsl(43, 96%, 82%),  hsl(43, 96%, 62%));
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(43, 96%, 82%)', endColorstr='hsl(43, 96%, 62%)');
    }

   .orangey.medium {
        /*background-color: hsl(41, 85%, 60%);*/


        background: -webkit-gradient(linear, left top, left bottom, from(hsl(42, 85%, 76%)), to(hsl(42, 85%, 56%)));
        background: -moz-linear-gradient(top, hsl(42, 76%, 56%),  hsl(42, 85%, 56%));
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(42, 76%, 56%)', endColorstr='hsl(42, 85%, 56%)');
    }

   .orangey.dark {
        /*background-color: hsl(39, 74%, 52%);*/


        background: -webkit-gradient(linear, left top, left bottom, from(hsl(39, 74%, 68%)), to(hsl(39, 74%, 48%)));
        background: -moz-linear-gradient(top, hsl(39, 74%, 68%),  hsl(39, 74%, 48%));
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(39, 74%, 68%)', endColorstr='hsl(39, 74%, 48%)');


    }

