/* #greeny
=========================== */

   .box.greeny {
        border: solid white 3px;
        /*border: solid hsl(220, 82%, 27%) 3px;*/
    }

    .box.greeny.pale {
        background-color: hsl(161, 66%, 83%);
    }

   .box.greeny.light {
        background-color: hsl(161, 63%, 70%);
    }

   .box.greeny.medium {
        background-color: hsl(160, 58%, 63%);
    }

   .box.greeny.dark {
        background-color: hsl(160, 53%, 55%);
    }