/* .bluey
=========================== */

    .bluey.generic {
        background-color: hsl(216, 70%, 93%);
    }

   .bluey.pale {
        /*background-color: hsl(200, 100%, 92%);*/

        background: -webkit-gradient(linear, left top, left bottom, from(hsl(200, 99%, 95%)), to(hsl(200, 99%, 75%)));
        background: -moz-linear-gradient(top, hsl(200, 99%, 95%),  hsl(200, 99%, 75%));
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(200, 99%, 95%)', endColorstr='hsl(200, 99%, 75%)');

    }

   .bluey.light {
        /*background-color: hsl(200, 95%, 89%);*/

        background: -webkit-gradient(linear, left top, left bottom, from(hsl(200, 95%, 91%)), to(hsl(200, 95%, 71%)));
        background: -moz-linear-gradient(top, hsl(200, 95%, 91%),  hsl(200, 95%, 71%));
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(200, 95%, 91%)', endColorstr='hsl(200, 95%, 71%)');

    }
   .bluey.medium {
        /*background-color: hsl(200, 89%, 85%);*/
        background: -webkit-gradient(linear, left top, left bottom, from(hsl(200, 89%, 88%)), to(hsl(200, 89%, 68%)));
        background: -moz-linear-gradient(top, hsl(200, 89%, 88%),  hsl(200, 89%, 68%));
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(200, 89%, 88%)', endColorstr='hsl(200, 89%, 68%)');

    }
   .bluey.dark {
        /*background-color: hsl(200, 85%, 80%);*/

        background: -webkit-gradient(linear, left top, left bottom, from(hsl(200, 85%, 83%)), to(hsl(200, 85%, 63%)));
        background: -moz-linear-gradient(top, hsl(200, 85%, 83%),  hsl(200, 85%, 63%));
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(200, 85%, 83%)', endColorstr='hsl(200, 85%, 63%)');
        /*background-color: hsl(250, 32%, 58%);*/
    }