/* .reddy
=========================== */

    .reddy.generic {

        background-color: hsl(360, 33%, 90%);

    }


   .reddy.pale {
        /*background-color: hsl(360, 33%, 90%);*/

        background: -webkit-gradient(linear, left top, left bottom, from(hsl(360, 33%, 96%)), to(hsl(360, 33%, 76%)));
        background: -moz-linear-gradient(top, hsl(360, 33%, 96%),  hsl(360, 33%, 76%));
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(360, 33%, 96%)', endColorstr='hsl(360, 33%, 76%)');

    }

   .reddy.light {
        /*background-color: hsl(360, 36%, 80%);*/

        background: -webkit-gradient(linear, left top, left bottom, from(hsl(360, 40%, 92%)), to(hsl(360, 40%, 82%)));
        background: -moz-linear-gradient(top, hsl(360, 40%, 92%),  hsl(360, 40%, 82%));
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(360, 40%, 92%)', endColorstr='hsl(360, 40%, 82%)');


    }

   .reddy.medium {
        /*background-color: hsl(360, 40%, 70%);*/

        background: -webkit-gradient(linear, left top, left bottom, from(hsl(360, 40%, 88%)), to(hsl(360, 40%, 68%)));
        background: -moz-linear-gradient(top, hsl(360, 40%, 88%),  hsl(360, 40%, 68%));
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(360, 40%, 88%)', endColorstr='hsl(360, 40%, 68%)');



    }

   .reddy.dark {
        /*background-color: hsl(360, 44%, 40%);*/

        background: -webkit-gradient(linear, left top, left bottom, from(hsl(360, 40%, 82%)), to(hsl(360, 40%, 62%)));
        background: -moz-linear-gradient(top, hsl(360, 40%, 82%),  hsl(360, 40%, 62%));
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(360, 40%, 82%)', endColorstr='hsl(360, 40%, 62%)');


    }
